

body {
	background-image: url(Kartinka3.jpg);
	 width:100%;}
.main {
display:flex;
	margin:auto;
	width:76%;
	height:500px;
	border:1px solid white;
}
h1 {
	
  text-align: center;
}
    
